.greeting-container{
    height: 150px;
    width: 50%;
    margin-left: 800px;
    box-shadow: 0 4px 8px rgba(105, 221, 206, 0.5), 0 8px 16px rgba(46, 219, 231, 0.3);
    padding: 10px;
    border-radius: 10px;
    position: relative;

}
.wishing-text{
position: absolute;
bottom: 10px;
right: 10px;

}
.own-thoughts{
    margin-left: 1000px;
}

.input-field{
    width: 400px;
    height: 30px;
    margin: 10px;
    margin-left: 1000px;
   border-radius: 10px;
 
}

.theme-1{
    background-image: linear-gradient(
        25deg,
        hsl(240deg 64% 57%) 0%,
        hsl(248deg 66% 57%) 3%,
        hsl(257deg 67% 57%) 7%,
        hsl(265deg 69% 57%) 10%,
        hsl(273deg 71% 57%) 14%,
        hsl(282deg 72% 57%) 17%,
        hsl(290deg 74% 56%) 21%,
        hsl(298deg 76% 56%) 25%,
        hsl(307deg 77% 56%) 29%,
        hsl(315deg 78% 56%) 33%,
        hsl(323deg 80% 56%) 37%,
        hsl(331deg 81% 56%) 42%,
        hsl(340deg 83% 56%) 47%,
        hsl(348deg 85% 56%) 52%,
        hsl(357deg 87% 56%) 57%,
        hsl(5deg 88% 55%) 63%,
        hsl(13deg 89% 55%) 69%,
        hsl(22deg 91% 55%) 76%,
        hsl(30deg 93% 55%) 83%,
        hsl(38deg 94% 55%) 89%,
        hsl(47deg 96% 55%) 95%,
        hsl(55deg 97% 55%) 100%
      );
}
.theme-2{
    background-image: linear-gradient(
  315deg,
  hsl(55deg 97% 55%) 0%,
  hsl(61deg 97% 55%) 4%,
  hsl(68deg 97% 54%) 9%,
  hsl(74deg 97% 54%) 13%,
  hsl(81deg 98% 54%) 17%,
  hsl(87deg 98% 54%) 22%,
  hsl(93deg 98% 53%) 26%,
  hsl(100deg 98% 53%) 31%,
  hsl(106deg 98% 53%) 35%,
  hsl(112deg 98% 53%) 40%,
  hsl(119deg 98% 52%) 44%,
  hsl(125deg 98% 52%) 49%,
  hsl(131deg 99% 52%) 54%,
  hsl(138deg 99% 52%) 58%,
  hsl(144deg 99% 52%) 63%,
  hsl(151deg 99% 51%) 68%,
  hsl(157deg 99% 51%) 73%,
  hsl(164deg 99% 51%) 79%,
  hsl(170deg 100% 51%) 84%,
  hsl(176deg 100% 51%) 90%,
  hsl(183deg 100% 50%) 95%,
  hsl(189deg 100% 50%) 100%
);
}
.theme-3{
    background-image: linear-gradient(
        310deg,
        hsl(195deg 85% 52%) 0%,
        hsl(201deg 65% 62%) 5%,
        hsl(207deg 44% 65%) 9%,
        hsl(221deg 24% 66%) 14%,
        hsl(275deg 12% 63%) 19%,
        hsl(333deg 19% 62%) 25%,
        hsl(349deg 30% 63%) 30%,
        hsl(355deg 41% 62%) 37%,
        hsl(358deg 50% 62%) 43%,
        hsl(0deg 58% 61%) 51%,
        hsl(1deg 66% 59%) 60%,
        hsl(0deg 72% 57%) 72%,
        hsl(2deg 75% 62%) 79%,
        hsl(4deg 79% 66%) 83%,
        hsl(4deg 82% 70%) 86%,
        hsl(5deg 85% 74%) 88%,
        hsl(6deg 89% 78%) 90%,
        hsl(6deg 92% 81%) 92%,
        hsl(6deg 95% 85%) 94%,
        hsl(7deg 98% 89%) 95%,
        hsl(7deg 100% 92%) 97%,
        hsl(7deg 95% 96%) 99%,
        hsl(0deg 0% 99%) 100%
      );
}
.theme-4{
    background-image: linear-gradient(
        305deg,
        hsl(195deg 85% 52%) 0%,
        hsl(195deg 83% 52%) 5%,
        hsl(196deg 81% 51%) 9%,
        hsl(197deg 79% 50%) 14%,
        hsl(198deg 79% 50%) 18%,
        hsl(198deg 79% 49%) 23%,
        hsl(199deg 79% 48%) 27%,
        hsl(200deg 80% 47%) 31%,
        hsl(201deg 80% 47%) 35%,
        hsl(202deg 80% 46%) 39%,
        hsl(204deg 81% 45%) 42%,
        hsl(205deg 81% 44%) 46%,
        hsl(206deg 82% 44%) 49%,
        hsl(208deg 83% 43%) 52%,
        hsl(209deg 83% 42%) 55%,
        hsl(211deg 84% 41%) 58%,
        hsl(213deg 85% 40%) 61%,
        hsl(216deg 86% 39%) 66%,
        hsl(219deg 87% 38%) 72%,
        hsl(222deg 89% 37%) 80%,
        hsl(226deg 91% 36%) 90%,
        hsl(234deg 94% 35%) 100%
      );
}
.theme-5{
    background-image: linear-gradient(
        290deg,
        hsl(330deg 100% 50%) 1%,
        hsl(335deg 100% 58%) 32%,
        hsl(337deg 100% 62%) 41%,
        hsl(339deg 100% 64%) 46%,
        hsl(341deg 100% 67%) 49%,
        hsl(342deg 100% 69%) 51%,
        hsl(344deg 100% 71%) 52%,
        hsl(345deg 100% 73%) 52%,
        hsl(347deg 100% 75%) 53%,
        hsl(348deg 100% 77%) 52%,
        hsl(349deg 100% 78%) 52%,
        hsl(350deg 100% 80%) 52%,
        hsl(352deg 100% 82%) 51%,
        hsl(353deg 97% 83%) 51%,
        hsl(354deg 94% 84%) 51%,
        hsl(355deg 89% 86%) 51%,
        hsl(356deg 82% 87%) 52%,
        hsl(357deg 73% 88%) 53%,
        hsl(358deg 62% 89%) 55%,
        hsl(358deg 49% 90%) 59%,
        hsl(359deg 31% 91%) 65%,
        hsl(0deg 9% 91%) 87%
      );
}
.link-url{
  width: 600px;
  margin-left: 900px;
  font-size: 25px; 
  color: white; 
  background-color: black;
  text-align: center;
}
@media screen  and (max-width: 600px){
    .greeting-container {
        width: 500px;
        height: 200px;
    }
}